<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

  
    <filter>
    	<filter-name>host-filter</filter-name>
    	<filter-class>org.eclipse.virgo.snaps.core.SnapHostFilter</filter-class>
    </filter>


    <filter-mapping>
        <filter-name>host-filter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

	<servlet>
		<servlet-name>exact</servlet-name>
		<servlet-class>simple.host.ExactServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>path</servlet-name>
		<servlet-class>simple.host.PathServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>exact</servlet-name>
		<url-pattern>/exact</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>path</servlet-name>
		<url-pattern>/path/*</url-pattern>
	</servlet-mapping>
</web-app>
