.header {
	width: 600px;
	height: 200px;
	font-family: sans-serif;
	border: 1px solid;
}

.title {
	font-size: 3em;
	text-align:center;
	width: 600px;
	height: 125px;
	padding-top: 25px;
}

.subtitle {
	font-size: 1.5em;
	text-align: center;
	width: 600px;
	height:75px;
}