.header {
	width: 600px;
	height: 200px;
	background-image:url('header-background.png');
	font-family: sans-serif;
}

.title {
	font-size: 3em;
	text-align:center;
	width: 600px;
	height: 125px;
	padding-top: 25px;
	color: #EEEEEE;
}

.subtitle {
	font-size: 1.5em;
	text-align: center;
	width: 600px;
	height:75px;
	letter-spacing: 5px;
}